@model IEnumerable<MyDeal.Models.FirstSlider>

@{
    ViewBag.Title = "Index";
}

<div class="form-group">
    <a href="/admin/FirstSliderImage/Add" class="btn btn-outline-success my-2 my-sm-0">Add New FirstSlider</a>
</div>
<h2>First slider</h2>
@if (!Model.Any())
{
    <h5>There are no first slider image.</h5>
}
else
{
    <table class="table">

        @foreach (var item in Model)
        {
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td>
                    <img src="/Image/@Url.Content(item.ImageName)" height="100" width="200" />
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                    @Html.ActionLink("Delete", "Remove", new { id = item.Id })
                </td>
            </tr>
        }

    </table>   
}

