/* Set padding to keep content from hitting the edges */
.container-fluid {
    margin: 0px;
}

/*body {
    background-color: aliceblue;
}*/
.dropdown-toggle {
    color: white;
}
fieldset{
    border:1px solid red;
    padding:4px 4px 4px 250px;
    margin:2px 3px 2px 3px;
    width:80%;
    position:relative;
}
.ActionGelleryTitle{    
    margin:30px 2px 35px 2px;
    font:300;
    font-variant-caps:all-petite-caps;
}
.ActionGelleryTitle>h2{
    text-align:center;
}
.ActionGelleryTitle .icon{
    text-align:center;
}
.seemore{
    margin:4px 2px 10px 0px;
}
.TopHeader {
    margin: 5px 10px 10px 5px;
}
.TopHeader>a{
    padding:10px 25px 0px 0px;
    font-size:medium;
    text-transform:uppercase;
}
.hedpad,.headright{
    margin-bottom:30px;
}
.navbar{
    padding:20px 5px 20px 20px;
    font-size:large;
}

.headright > form {
    margin: 25px 0px 0px 55px;
}
.pagination-container > ul > li {
    padding: 10px 15px 10px 15px;
    border: 1px solid #E5F5EC;
    display:block;
}


.hedpad > a {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

.headright>form>input{
    padding:5px 10px 10px 10px;
}

legend {
    width: 25%;
    padding: 0px 0px 0px 3px;
}
lebel{
    margin:2px 2px 2px 2px;
}
input{
    margin:2px 2px 2px 2px;
}

footer {
    background-color: #2d333d;
    padding: 20px;
    text-align: center;
    color: white;
}
.side {
    background-color: black;
}

.text-md-center {
    margin: 100px;
}

.card-title {
    text-transform: capitalize;
}

.takaicon {
    font-family: bold;
}

.hedpad {
    padding: 25px;
}

a:link {
    text-decoration: none;
}

.form-signin {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: 150px auto;
}

.LogInRegistration {
    padding: 10px;
}

#NavText {
    color: white;
}

#NavText:hover {
    color:darkslategray;
    }

.AdminLogInBody {
    background-color: azure;
}

.headright {
    padding: 5px;
}

.headRightTop {
    padding: 9px;
}

.img-fluid {
    height: 360px;
}
.nobided{
    margin:183px 400px 183px 400px;
    color:red;
}
.paget{
    padding:4px 5px 2px 4px;
}
#image {
    margin: 50px;
}
/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}
.leftContain {
    float: left;
    width: 10%;
    padding: 15px;
    background-color: #2d334e;
    color:white;
}
.mainContain{
    float:left;
    width:86%;
    padding-left:15px;
    
}
/* Set width on the form input elements since they're 100% wide by default */
input,
select {
    max-width: 280px;
}
