/* Set padding to keep content from hitting the edges */
.container-fluid {
    margin: 0px;
}

body {
    background-color: aliceblue;
}
.dropdown-toggle {
    color: white;
}

footer {
    background-color: #2d333d;
    padding: 20px;
    text-align: center;
    color: white;
}
.side {
    background-color: black;
}

.text-md-center {
    margin: 100px;
}

.card-title {
    text-transform: capitalize;
}

.takaicon {
    font-family: bold;
}

.hedpad {
    padding: 25px;
}

a:link {
    text-decoration: none;
}

.form-signin {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: 150px auto;
}

.LogInRegistration {
    padding: 10px;
}

#NavText {
    color: white;
}

#NavText:hover {
    color:darkslategray;
    }

.AdminLogInBody {
    background-color: azure;
}

.headright {
    padding: 5px;
}

.headRightTop {
    padding: 9px;
}

.img-fluid {
    height: 360px;
}

#image {
    margin: 50px;
}
/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select {
    max-width: 280px;
}
