@model IEnumerable<MyDeal.Models.BidsInformation.Comment>


@if (!Model.Any())
{
    <h4>No any comment for this Product.</h4>
    <hr />
}
else
{
    foreach (var item in Model)
    {
        <p>@item.CommentText</p>
        <p class="blockquote-footer">@item.Customer.UserName  comment this at<cite title="Source Title"> @item.CommentTime</cite></p>
        <hr />
    }
}

