@model IEnumerable<MyDeal.Models.Page>

@{
    ViewBag.Title = "pageMenuPartial";
}

@foreach (var item in Model)
{
    <li><a href="/pages?Pages=@item.Name" class="nav-link" id="NavText">@item.Name</a></li>
}
