<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CKEditor" version="3.6.4" targetFramework="net461" />
  <package id="EntityFramework" version="6.2.0" targetFramework="net472" />
  <package id="FontAwesome" version="4.7.0" targetFramework="net472" />
  <package id="Microsoft.AspNet.Identity.Core" version="2.2.3" targetFramework="net461" />
</packages>