@model IEnumerable<MyDeal.Models.FirstSlider>

@{
    ViewBag.Title = "First Slider";
}


@foreach (var item in Model) {
    <div class="carousel-item active">
        <img class="img-fluid " src="/Image/@Url.Content(item.ImageName)" width="1200" alt="First slide">
    </div>
}

