@using PagedList.Mvc;
@using PagedList;

@model  IPagedList<MyDeal.Models.Product>



@{
    /**/

    ViewBag.Title = "GetAllProduct";
}

@Html.Action("Index", "WelcomeSlider")

<div class="ActionGelleryTitle">
    <h2>Action Gallery</h2>
    <div class="icon">
        &#8212; &#8212; &#8212;
    </div>
</div>

<div class="container">
    <div class="row">
        @foreach (var product in Model)
        {
            <div class="col-lg-3 col-md-6 mb-4">
                <a href="/shop/productDetails?id=@product.Id">
                    <div class="card h-100" style="text-align:center">
                        <img class="card-img-top" src="/Image/@Url.Content(product.ImageName)" height="160" width="170" alt="">
                        <div class="card-body">
                            <h4 class="card-title">@product.Title</h4>
                            <div>
                                <span class="takaicon">৳</span>@product.ActualPrice
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        }
    </div>
</div>
<div>
    @Html.PagedListPager(Model, Page => Url.Action("GetAllProduct", "Shop", new { Page }))
</div>