
@{
    ViewBag.Title = "Error";
}
<div class="text-md-center">
    <h2 class="text-danger">
        You are not valid user.
    </h2>
    <h2 class="text-success">
        Go to LogIn & Try again.
    </h2>
</div>


